/*

384762 darker blue
718DB2 lighter blue
91140D brick red
6C0000 darker red
font-family: 'Homenaje', sans-serif;
font-family: 'Six Caps', sans-serif;

*/


@font-face {
  font-family: CapitalPoster;
  src: local("CapitalPoster"),
       url(fontishness/CapitalPoster.ttf);
}
@font-face {
  font-family: CapitalPosterCd;
  src: local("CapitalPosterCd"),
       url(fontishness/CapitalPosterCd.ttf);
}



body {
	background-color: white;
  font-family: 'CapitalPoster', sans-serif;
  /*letter-spacing: 1px;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  z-index: -10;

}
#bg img {
  position: absolute;   
  
  right: 0; 
  bottom: 0px; 
  margin: auto; 
/*  max-height: 100%;*/
  max-width: 100%;
  max-height: 100%;
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #718DB2;
  border-top: solid black 3px;
  border-bottom: solid black 3px;
}



.title {
  font-family: 'CapitalPosterCd', sans-serif;
  float: left;
  height: 50px;
  width: 200px; 
  border-right: solid black 3px;
  transition-duration: 200ms;
}
.title:hover {
  background-color: #384762;
}
.titile:focus {
  outline: none;
  color: #91140D;
}
.title div {
  font-size: 54px;
  color: white;
  letter-spacing: 1px;
  margin-top: -5px;
  margin-left: 8px;
}

.nav {
  font-family: 'CapitalPoster', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  float: left;
  height: 50px;
  width: 80px; 
  border-right: solid black 3px;
  transition-duration: 200ms;
}
.nav:hover {
  color: black;
  background-color: white;
}
.nav:focus {
  outline: none;
  color: #91140D;
}
.nav div {
  margin-top: 14px;
}


#phonenum {
  font-family: 'CapitalPosterCd', sans-serif;
  float: right;
  font-size: 34px;
  color: black;
  letter-spacing: 1px;
  padding-right: 5px;
  margin-top: 5px;
}



#iconlinks {
  position: fixed;
  top: 60px;
  right: 5px;
  text-align: center;
}
#iconlinks a {
  color: #384762;
  margin: 3px;
  transition-duration: 200ms;
}
#iconlinks a:hover {
  color: #91140D;
}

#iconlinks a:focus {
  outline: none;
    color: #91140D;
}






#content {
  font-family: 'Helvetica', sans-serif;
  width: 60%;
  font-size: 1.5vw;
  color: #384762;
  margin-top: 100px;
  margin-left: 40px;
}

.heading {
  font-family: 'CapitalPoster', sans-serif;
  font-size: 2em;
  color: #91140D;
  font-weight: normal;
}

































/*

  text-shadow:
  2px 2px 0 #91140D,
  -2px -2px 0 #91140D,  
  2px -2px 0 #91140D,
  -2px 2px 0 #91140D,
  2px 2px 0 #91140D;

*/