/*------------------------------------*\
    #GLOBAL
\*------------------------------------*/


/**
 * Colors
 */

$white:           #fff;
$black:           #000;
$darker-blue:     #384762;
$lighter-blue:    #718db2;
$brick-red:       #91140d;
$darker-red:      #6c0000;


/**
 * Fonts
 */

@font-face {
    font-family: CapitalPoster;
    src: local('CapitalPoster'),
       url('../../assets/dependencies/fontishness/CapitalPoster.ttf');
}

@font-face {
    font-family: CapitalPosterCd;
    src: local('CapitalPosterCd'),
       url('../../assets/dependencies/fontishness/CapitalPosterCd.ttf');
}

$brand-font:      'CapitalPoster', sans-serif;
$narrow-brand-font:      'CapitalPosterCd', sans-serif;
$main-font:       'Helvetica', sans-serif;


/**
 * Text sizes
 */

$font-size:         16px;
$line-height:       1.5;
$letter-spacing:    0.05em;


/**
 * Default global spacing units
 */

$spacing-unit:        8px;
$spacing-unit--x2:    round($spacing-unit * 2);
$spacing-unit--x3:    round($spacing-unit * 3);
$spacing-unit--x4:    round($spacing-unit * 4);


/**
 * Breakpoint widths
 */

$small-breakpoint:     700px;
$medium-breakpoint:    760px;
$wide-breakpoint:      960px;
$max-content-width:    1278px;


/**
 * Drop Shadow
 */

$global-drop-shadow:    0 0 5px 1px rgba(0, 0, 0, 0.1);


/**
 * text Shadow
 */

$global-text-shadow:    2px 2px 0 #91140D,
                        -2px -2px 0 #91140D,  
                        2px -2px 0 #91140D,
                        -2px 2px 0 #91140D,
                        2px 2px 0 #91140D;


/**
 * Border Radius
 */

$global-border-radius:    4px;
