/*------------------------------------*\
    #HOME-PAGE
\*------------------------------------*/

$introduction-heading-font-size:     $font-size + 18px;
$introduction-content-font-size:     $font-size + 4px;

.introduction {
    margin: 0 auto;
    width: 90%;
    margin-top: 100px;
    

    @include respond-to($medium-breakpoint) {
        width: 60%;
        margin-left: triple($spacing-unit);
    }
}

    .introduction__heading {
        font-family: $brand-font;
        font-size: $introduction-heading-font-size;
        color: $brick-red;
        font-weight: normal;
        margin: 0;
    }

    .introduction__content {
        font-size: $introduction-content-font-size;
        color: $darker-blue;
    }

    .introduction__redirect {
        margin-top: quadruple($spacing-unit);
        text-align-last: center;
        text-transform: uppercase;

        @include respond-to($medium-breakpoint) {
            margin-top: 100px;
        }
    }
